:root {
  --color-black: #121212;
  --color-green: #34C94B;
  --color-white: #FFFFFF;
}

.hero {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  